[submodule "libsvgtiny"]
	path = libsvgtiny
	url = https://github.com/dunkelstern/libsvgtiny.git
[submodule "libdom"]
	path = libdom
	url = https://github.com/dunkelstern/libdom.git
[submodule "libparserutils"]
	path = libparserutils
	url = https://github.com/dunkelstern/libparserutils.git
